* {
  box-sizing: border-box;
}

.container {
  background-color: white;
  /*height: 100vh;*/
  margin: auto;
  width: 80%;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

body {
  background-color: #FFFAF4;
  color: #30380F;
  font-family: Avenir;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.07em;
  line-height: 31px; 
}

section {
  margin-top: 1rem;
  padding: 10rem 5rem;
}

._3i0k6___Layout__cls1.mJVDY___Layout__isNotEmbedded {
    background-color: #FFFAF4;
}

/*@media screen and (min-width: 110em) {
  html {
  font-size: 1.8rem;
}

@media screen and (min-width: 200em) {
  html {
  font size: 2.0rem;
  }

}
*/
