* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFAF4;
  color: #30380F;
  font-family: Avenir;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.07em;
  line-height: 31px; 
}

._3i0k6___Layout__cls1.mJVDY___Layout__isNotEmbedded {
    background-color: #FFFAF4;
}